/* Variables
-------------------------------------------------------------- */
$white: #f1fafc;
$light-blue: #91d5e6;
$blue: #b1e1ed;
$dark-blue: #71c8de;
$point-blue: #31b0d0;

/* Mixins
-------------------------------------------------------------- */
@mixin fade {
  -moz-transition: background-color .4s ease;
  -ms-transition: background-color .4s ease;
  -o-transition: background-color .4s ease;
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
}

/* Layout
-------------------------------------------------------------- */
* {
  box-sizing: border-box;
  webkit-box-sizing: border-box;
  mox-box-sizing: border-box;
}

.container {
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
  padding: 2em 0;
}

body {
  background: #FFF;
  color: #666;
  font-size: 100%;
  font-family: "ff-tisa-web-pro",serif;
  line-height: 1.5em;
}

.column {
  float: none;
  margin-right: 0;
  margin-bottom: 2em;
  width: 100%;
  &:last-child {
    margin-bottom: 0;
  }
}

header {
  background: $dark-blue;
  color: $blue;
  text-align: center;
  h1 {
    color: $white;
    font-weight: 700;
    font-size: 2em;
    line-height: 1.2em;
    margin-bottom: 0.5em;
  }
  h2 {
    color: $blue;
    font-family: "ff-tisa-web-pro",serif;
    font-size: 1.3em;
  }
  h3 {
    font-family: "leander-script-pro",cursive;
    font-size: 3em;
  }
  p {
    text-align: left;
    font-size: 1.2em;
  }
}

/* Basic Styles
-------------------------------------------------------------- */
h1, h2, h3 {
  font-family: "ff-meta-web-pro",sans-serif;
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  line-height: 1em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.5em;
  line-height: 1.3em;
  font-weight: 400;
  margin: 0 0 .5em;
}

h3 {
  line-height: 1.3em;
  margin: 0;
}

p {
  font-size: 1em;
  margin-bottom: 1em;
}

a, a:hover {
  color: #71debd;
}

/* Elements
-------------------------------------------------------------- */
.blue {
  background: $blue;
  color: #46b8d5;
  h1 {
    color: $dark-blue;
  }
}

.white {
  background: $white;
  color: $dark-blue;
}

.blue-bg {
  background: $light-blue;
  color: $point-blue;
}

.white-bg {
  background: #dcf3f8;
  color: $point-blue;
}

.points-box {
  border-radius: 4px;
  mox-border-radius: 4px;
  webkit-border-radius: 4px;
  display: block;
  font-size: 1em;
  margin-top: 1.5em;
  padding: 0.5em;
  p {
    font-size: 0.9em;
    float: left;
    margin: 0 0 0 10px;
  }
}

.button {
  background: #48b8d4;
  border-radius: 50%;
  moz-border-radius: 50%;
  webkit-border-radius: 50%;
  color: #fff;
  clear: both;
  display: block;
  font-size: 1.8em;
  height: 60px;
  margin: 1.5em auto 0;
  text-decoration: none;
  width: 60px;
  @include fade;
  .button-text {
    display: block;
    padding-top: 12px;
    text-align: center;
  }
  &:hover {
    background: #33b0d0;
    color: #FFF;
  }
}

img {
  width: 100%;
  height: auto;
}

.clock {
  background: url("/images/clock.png");
  background-size: 31px 31px;
  float: left;
  height: 31px;
  width: 31px;
}

.map {
  background: url("/images/map.png");
  background-size: 100px 84px;
  height: 84px;
  width: 100px;
  margin: 0 auto 1em;
}

.discovery {
  background: url("/images/discovery.png");
  background-size: 280px 250px;
  width: 280px;
  height: 250px;
  margin: 0 auto;
}

.wireframing {
  background: url("/images/wireframing.png");
  background-size: 280px 250px;
  width: 280px;
  height: 250px;
  margin: 0 auto;
}

.prototyping {
  background: url("/images/prototyping.png");
  background-size: 280px 250px;
  width: 280px;
  height: 250px;
  margin: 0 auto;
}

.user-testing {
  background: url("/images/user-testing.png");
  background-size: 280px 250px;
  width: 280px;
  height: 250px;
  margin: 0 auto;
}

.visual-design {
  background: url("/images/visual-design.png");
  background-size: 280px 250px;
  width: 280px;
  height: 250px;
  margin: 0 auto;
}

.implementation {
  background: url("/images/implementation.png");
  background-size: 280px 250px;
  width: 280px;
  height: 250px;
  margin: 0 auto;
}

/* Clearfix
-------------------------------------------------------------- */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/* Mobile First RWD
-------------------------------------------------------------- */
@media screen and (min-width: 640px) {
  .container {
    padding: 5em 0;
  }

  body {
    font-size: 125%;
  }

  header h1, h1 {
    font-size: 3.2em;
  }

  .column {
    float: left;
    margin-right: 3.2%;
  }

  .one-third {
    width: 30%;
  }

  .half {
    width: 47.5%;
  }

  .full {
    float: none;
    margin-right: 0;
    margin-bottom: 0;
    overflow: hidden;
  }

  .column:nth-of-type(2n+2) {
    margin-right: 0;
    clear: right;
  }
}
