---
title: SCSS
---

<div class="navigation-bar">
  <header>
    <div class="container">
      <h1>
        <a href="http://www.adamkaplandesign.com">Let's get Sassy with SCSS</a>
      </h1>
  </header>
</div>

<div class="container">
  <div class="box">
    <h2>Difficult but Awesome, Part 2: Concurrency Benefits and Gotchas</h2>
    <h3>Speaker: Wai Lee Chin Feman </h3>
    <p>
      We will continue to explore patterns for writing safe multi-threaded code, and explore the motivations behind Clojure's STM.
    </p>

  <a class="button" href="/">RSVP Chicago</a>
</div>
</div><!-- container -->
